DHL_WS_Test/Service References/GeschaeftskundenversandWS/geschaeftskundenversand-api-21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cis="http://dhl.de/webservice/cisbase" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dhl.de/webservice/cisbase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="countryISOType">
    <xs:annotation>
      <xs:documentation>Country specific ISO code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
      <xs:minLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EKP">
    <xs:annotation>
      <xs:documentation>First 10 digit number extract from the 14 digit DHL Account Number. E.g. if DHL Account Number is "5000000008 72 01" then EKP is equal to 5000000008.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="partnerID">
    <xs:annotation>
      <xs:documentation>Field has the partner id. I.e. the last 2 digit number extract from the 14 digit DHL Account Number. E.g. if DHL Account Number is "5000000008 72 01" then Attendance is 01. </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="2" />
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="procedureID">
    <xs:annotation>
      <xs:documentation>Procedure ID (part of account number).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="2" />
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="accountNumber">
    <xs:annotation>
      <xs:documentation>DHL account number (14 digits).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="14" />
        <xs:maxLength value="14" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="accountNumberExpress">
    <xs:annotation>
      <xs:documentation>Express AccountNumber (9 digits).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="9" />
        <xs:maxLength value="9" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="identCode">
    <xs:annotation>
      <xs:documentation>Ident code number.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="12" />
        <xs:maxLength value="12" />
        <xs:pattern value="[0-9]{12}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="licensePlate">
    <xs:annotation>
      <xs:documentation>License plate number.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="39" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="airwayBill">
    <xs:annotation>
      <xs:documentation>Airway bill number.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="routeCode">
    <xs:annotation>
      <xs:documentation>route code (default).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="14" />
        <xs:maxLength value="14" />
        <xs:pattern value="[0-9]{14}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="routingCode">
    <xs:annotation>
      <xs:documentation>RoutingCode EAN or ANSI/FACT</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="39" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="zip" type="cis:ZipType" />
  <xs:element name="city">
    <xs:annotation>
      <xs:documentation>City name.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="35" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="streetNameCode">
    <xs:annotation>
      <xs:documentation>Code for street name (part of routecode).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="3" />
        <xs:maxLength value="3" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="streetNumberCode">
    <xs:annotation>
      <xs:documentation>Code for street number (part of routecode).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="3" />
        <xs:maxLength value="3" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Origin" type="cis:CountryType">
    <xs:annotation>
      <xs:documentation>Country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Authentification" type="cis:AuthentificationType">
    <xs:annotation>
      <xs:documentation>Authentification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version">
    <xs:annotation>
      <xs:documentation>The version of the webservice implementation for which the
requesting client is developed.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="majorRelease">
          <xs:annotation>
            <xs:documentation>The number of the major release. E.g. the '2' in version "2.1.".</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="minorRelease">
          <xs:annotation>
            <xs:documentation>The number of the minor release. E.g. the '1' in version "2.1.".</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="build">
          <xs:annotation>
            <xs:documentation>Optional build id to be addressed.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AuthentificationType">
    <xs:annotation>
      <xs:documentation>Type of authentification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="user">
        <xs:annotation>
          <xs:documentation>username for the business customer portal</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:element>
      <xs:element name="signature">
        <xs:annotation>
          <xs:documentation>password for the business customer portal</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NativeAddressType">
    <xs:annotation>
      <xs:documentation>Type of native address</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="streetName">
        <xs:annotation>
          <xs:documentation>Name of street.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="streetNumber">
        <xs:annotation>
          <xs:documentation>House number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="2" name="addressAddition">
        <xs:annotation>
          <xs:documentation>Address addon</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="dispatchingInformation">
        <xs:annotation>
          <xs:documentation>DispatchingInformation</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="cis:zip" />
      <xs:element ref="cis:city" />
      <xs:element minOccurs="0" ref="cis:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReceiverNativeAddressType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="cis:name2" />
      <xs:element minOccurs="0" ref="cis:name3" />
      <xs:element name="streetName">
        <xs:annotation>
          <xs:documentation>Name of street.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="streetNumber">
        <xs:annotation>
          <xs:documentation>House number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="2" name="addressAddition">
        <xs:annotation>
          <xs:documentation>Address addon</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="dispatchingInformation">
        <xs:annotation>
          <xs:documentation>DispatchingInformation</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="cis:zip" />
      <xs:element ref="cis:city" />
      <xs:element minOccurs="0" ref="cis:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PickupAddressType">
    <xs:annotation>
      <xs:documentation>Type of pickup address</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>can be</xs:documentation>
        </xs:annotation>
        <xs:element name="NativeAddress" type="cis:NativeAddressType">
          <xs:annotation>
            <xs:documentation>Default address</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PackStation" type="cis:PackStationType">
          <xs:annotation>
            <xs:documentation>Packstation address</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" ref="cis:streetNameCode" />
      <xs:element minOccurs="0" ref="cis:streetNumberCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryAddressType">
    <xs:annotation>
      <xs:documentation>Type of delivery address</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>can be</xs:documentation>
        </xs:annotation>
        <xs:element name="NativeAddress" type="cis:NativeAddressType">
          <xs:annotation>
            <xs:documentation>Default address</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PostOffice" type="cis:PostfilialeType">
          <xs:annotation>
            <xs:documentation>Postoffice address</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PackStation" type="cis:PackStationType">
          <xs:annotation>
            <xs:documentation>Packstation address</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" ref="cis:streetNameCode" />
      <xs:element minOccurs="0" ref="cis:streetNumberCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankType">
    <xs:annotation>
      <xs:documentation>Type of bank information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="accountOwner">
        <xs:annotation>
          <xs:documentation>Name of bank account owner.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bankName">
        <xs:annotation>
          <xs:documentation>Name of bank.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="iban">
        <xs:annotation>
          <xs:documentation>IBAN code of bank account.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="34" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="note1">
        <xs:annotation>
          <xs:documentation>Purpose of bank information.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="note2">
        <xs:annotation>
          <xs:documentation>Purpose of bank information.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="bic">
        <xs:annotation>
          <xs:documentation>Bank-Information-Code (BankCCL) of bank account.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="11" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="accountreference">
        <xs:annotation>
          <xs:documentation>Accountreferece to customer profile</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:annotation>
      <xs:documentation>Type of name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="1" ref="cis:name1" />
      <xs:element minOccurs="0" ref="cis:name2" />
      <xs:element minOccurs="0" ref="cis:name3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReceiverNameType">
    <xs:annotation>
      <xs:documentation>Type of name</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="name">
        <xs:annotation>
          <xs:documentation>Name of receiver (first part)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="name1">
    <xs:annotation>
      <xs:documentation>Name of receiver (first part)</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="name2">
    <xs:annotation>
      <xs:documentation>Name of company (second part).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="name3">
    <xs:annotation>
      <xs:documentation>Name of company (third part).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="CommunicationType">
    <xs:annotation>
      <xs:documentation>Type of communication.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="phone">
        <xs:annotation>
          <xs:documentation>Phone number.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="email">
        <xs:annotation>
          <xs:documentation>Emailaddress. </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="contactPerson">
        <xs:annotation>
          <xs:documentation>First name and last name of contact person.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactType">
    <xs:annotation>
      <xs:documentation>Type of contact.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="Communication" type="cis:CommunicationType">
        <xs:annotation>
          <xs:documentation>Contact communication information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Address" type="cis:NativeAddressType">
        <xs:annotation>
          <xs:documentation>Contact address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" type="cis:NameType">
        <xs:annotation>
          <xs:documentation>Contact name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackStationType">
    <xs:annotation>
      <xs:documentation>Type of packstation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="postNumber">
        <xs:annotation>
          <xs:documentation>Post Nummer of the receiver, if not set receiver e-mail and/or mobilephone number needs to be set</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="packstationNumber">
        <xs:annotation>
          <xs:documentation>Number of the Packstation.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="3" />
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="cis:zip" />
      <xs:element ref="cis:city" />
      <xs:element minOccurs="0" ref="cis:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostfilialeType">
    <xs:annotation>
      <xs:documentation>Type of Postfiliale</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="postfilialNumber">
        <xs:annotation>
          <xs:documentation>Number of the postfiliale</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="3" />
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="postNumber">
        <xs:annotation>
          <xs:documentation>Post Nummer of the receiver</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="cis:zip" />
      <xs:element ref="cis:city" />
      <xs:element minOccurs="0" ref="cis:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParcelShopType">
    <xs:annotation>
      <xs:documentation>Type of ParcelShop (Receiver is in Europe)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="parcelShopNumber">
        <xs:annotation>
          <xs:documentation>Number of the ParcelShop</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="3" />
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="streetName">
        <xs:annotation>
          <xs:documentation>Name of street of the ParcelShop</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="streetNumber">
        <xs:annotation>
          <xs:documentation>House number of the ParcelShop</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="cis:zip" />
      <xs:element ref="cis:city" />
      <xs:element minOccurs="0" ref="cis:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerType">
    <xs:annotation>
      <xs:documentation>Type of customer</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element name="Name" type="cis:NameType">
        <xs:annotation>
          <xs:documentation>Name of customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vatID" type="xs:string">
        <xs:annotation>
          <xs:documentation>VAT id.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="cis:EKP" />
      <xs:element name="Address" type="cis:NativeAddressType">
        <xs:annotation>
          <xs:documentation>Address of customer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Contact" type="cis:ContactType">
        <xs:annotation>
          <xs:documentation>Contact information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Bank" type="cis:BankType">
        <xs:annotation>
          <xs:documentation>Bank information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="note">
        <xs:annotation>
          <xs:documentation>Additional notes</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorType">
    <xs:annotation>
      <xs:documentation>Type of error</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="priority" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Priority (e.g. error, warnung, .....)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Occurence</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Short description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="descriptionLong" type="xs:string">
        <xs:annotation>
          <xs:documentation>Detailed description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="solution" type="xs:string">
        <xs:annotation>
          <xs:documentation>Suggested solution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="application" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of application</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="module" type="xs:string">
        <xs:annotation>
          <xs:documentation>Module name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ZipType">
    <xs:annotation>
      <xs:documentation>Type of zip code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CountryType">
    <xs:annotation>
      <xs:documentation>Type of country</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>includes</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="0" name="country">
        <xs:annotation>
          <xs:documentation>Name of country.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="countryISOCode" type="cis:countryISOType">
        <xs:annotation>
          <xs:documentation>Country's ISO-Code (ISO-2-Alpha).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="state">
        <xs:annotation>
          <xs:documentation>Name of state.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipmentNumberType">
    <xs:annotation>
      <xs:documentation>Type of shipment number</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:annotation>
        <xs:documentation>can be</xs:documentation>
      </xs:annotation>
      <xs:element ref="cis:shipmentNumber" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="Status">
    <xs:annotation>
      <xs:documentation>part of webservice response</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="statuscode">
          <xs:annotation>
            <xs:documentation>statuscode value.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="statusDescription">
          <xs:annotation>
            <xs:documentation>description corresponding to the statuscode</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="500" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productKey">
    <xs:annotation>
      <xs:documentation>DHL product Key.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="9" />
        <xs:minLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Dimension">
    <xs:annotation>
      <xs:documentation>Package dimensions (length, width, height)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="length" type="xs:int">
          <xs:annotation>
            <xs:documentation>length of package</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="width" type="xs:int">
          <xs:annotation>
            <xs:documentation>width of package</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="height" type="xs:int">
          <xs:annotation>
            <xs:documentation>height of package</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" default="mm" name="unit">
          <xs:annotation>
            <xs:documentation>unit for all measures</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="15" />
              <xs:enumeration value="mm" />
              <xs:enumeration value="inch" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeFrame">
    <xs:annotation>
      <xs:documentation>Time Frame in which actions should affect</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>includes</xs:documentation>
        </xs:annotation>
        <xs:element name="from" type="xs:time">
          <xs:annotation>
            <xs:documentation>begin of timeframe</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="until" type="xs:time">
          <xs:annotation>
            <xs:documentation>end of timeframe</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shipmentNumber">
    <xs:annotation>
      <xs:documentation>Can contain any DHL shipmentnumber.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="39" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>